# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

NEXT_PUBLIC_SUPABASE_URL=https://ychtenakojhynqnfxqxk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljaHRlbmFrb2poeW5xbmZ4cXhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcxMDYxMzMsImV4cCI6MjA3MjY4MjEzM30.UgUiVGfRQvkiH5s_Lm2sYZXyFDV0lqXs_5OgBF-baGM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljaHRlbmFrb2poeW5xbmZ4cXhrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzEwNjEzMywiZXhwIjoyMDcyNjgyMTMzfQ.qn6yh3wUQGBzO1zO_a2Z7QVc19fsmTq_hMUmwD71HCA
